fastapi
uvicorn[standard]
python-dotenv
pydantic

langchain
langchain-core
langchain-community
langchain-groq
langchain-cohere
langchain-chroma
langgraph

chromadb
tavily-python

pypdf
unstructured[md]
beautifulsoup4

streamlit
requests
